{% extends 'base.html.twig' %}

{% block title %}{{app.user.name}}{% endblock %}

{% block body %}
    <div class="container">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    <i class="fas fa-check-circle"></i> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <h1 class="text-center py-5">Mon profil</h1>  
        <div class="row">
            <div class="col-4">
                {% if app.user.avatar %}
                        <img src="images/{{ app.user.avatar }}" alt="avatar" class="w-50">
                {% else %}
                        <img src="{{ asset('images/imageDefault.jpg')}}" alt="avatar" class="img-thumbnail" >
                {% endif %}
            </div>
            <div class="col-8">
                    <h2>{{app.user.name}} {{ app.user.lastname }} </h2>
                <h2>Ma description</h2>

                <p>{{ app.user.description }}</p>
                <p>Profil mis à jour le : </p>
                <a href="{{ path('modif_compte', {id: app.user.id}) }}" class="btn btn-outline-primary">Modifier mon profil</a>
            </div>
        </div>
        <hr>
        <div>
            <h2>Mes réalisations</h2>
            <a href="#" class="btn btn-outline-primary">Ajouter une image</a>
            <div class="row d-flex flex-wrap">
                <div class="card p-3 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card p-3 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card p-3 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>  
                <div class="card p-3 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>    
            </div>
        </div>
        <hr>
        <div>
            <h2>Mes annonces:</h2>
            <a href="#" class="btn btn-outline-primary">Ajouter une annonce</a>
            {% for annonce in annonces %}
           
            <article class="border rounded my-3 p-2 bg-light">
                <p><i>Annonce créée le par {{annonce.user.name}} {{annonce.user.lastname}}</i></p>
                <div class="row">
                   <a href="{{path("annonce", {id: annonce.id})}}"><h3 class="ml-3">{{annonce.titre}}</h3></a>
                    <a href="#" class="d-flex ml-auto mr-3 text-danger ">Supprimer</a>   
                </div>
                
                <p class="  ml-3">{{annonce.description}}</p>
                <hr>
                <div class="row">
                    Jean mimi - Suzette93 - Mouloud sont interesser
                </div>
            </article>
           
            {% endfor %}
        </div>
    </div>

{% endblock %}
