{% extends 'base.html.twig' %}

{% block title %}
    {% for profil in user %}{{profil.name}}{% endfor %}
{% endblock %}

{% block body %}
<div>

        <h1 class="text-center py-5" id="titre">Mon profil</h1>  
        <div class="row">
            <div class="col-md-4">
                {% for profil in user %}
                    {% if profil.avatar %}
                            <img src="{{ asset('images/'~app.user.avatar)}}" alt="avatar" class="w-75 d-flex mx-auto rounded-circle">
                    {% else %}
                            <img src="{{ asset('images/imageDefault.jpg')}}" alt="avatar" class="img-thumbnail" >
                    {% endif %}
                    <h2 class="text-center">{{profil.name}} {{profil.lastname }} </h2>
                {% endfor  %}
            </div>
            <div class="col-md-8">
                   
                <h2>Ma description</h2>
                {# description #}
                {% for profil in user %}
                    <p>{{ profil.description | nl2br }}</p>
                {% endfor %}

                <p class="mb-0">Liens utiles:</p>
                {% for lien in liens %}
                    <a href="{{lien.liens}}" target="blank">{{lien.liens}}</a><a href="{{path('mon_compte', { id: app.user.id, id_lien: lien.id, action: 'delete-lien' })}}" class="text-danger">Supprimer</a><br>
                {% endfor %}

                {% for profil in user %}
                    <p class="mt-3"><i>Profil mis à jour le {{profil.updatedAt | date('d M Y')}} à {{profil.updatedAt | date('H:i')}}</i></p>
                {% endfor %}
                <a href="{{ path('modif_compte', {id: app.user.id}) }}" class="btn btn-outline-primary">Modifier mon profil</a>
            </div>
        </div>
        <hr>
        <div>
            <div class="rounded shadow bg-light p-3">
                <h3>Ajouter une réalisations</h3>
            {# ajouter realisation #}
                {{form(form)}}    
            </div> 
            <h2>Mes réalisations:</h2>
            {# liste realisation #}
            <div class="row d-flex flex-wrap">
                {% for portfolio in portfolios %}
                    <div class="card p-3 m-3" style="width: 18rem;">
                            <a href="{{path('mon_compte', { id: app.user.id, id_img: portfolio.id, action: 'delete-img' })}} "
                            class="ml-auto mr-3 text-danger">Supprimer</a>
                        <img class="card-img-top" src="{{ asset('images/'~portfolio.imgUrl)}}" alt="Card image cap">
                    </div>
                {% endfor %}        
            </div><!--fin card-->   
        </div>
        <hr>
    <div>
        <h2>Mes annonces:</h2>
        {# creation annonce #}
        <a href="{{ path('annonce_crud', { id: 0 }) }}" class="btn btn-outline-primary">Ajouter une annonce</a>
        {# liste annonces #}
        {% for annonce in annonces %}
            <article class="border rounded shadow my-3 p-2 bg-light">
                <div class="row">
                    <div class="col-md-7">
                        <i>Annonce créée le {{annonce.dateCreation | date('d M Y')}} à  {{annonce.dateCreation | date('H:i')}}  par {{annonce.user.name}} {{annonce.user.lastname}}</i>
                    </div>
                    <div class="col-md-3">
                        <a href="{{path('annonce_crud', { id: annonce.id})}} "
                            class="ml-auto mr-3 text-primary">Editer mon annonce</a>
                    </div>
                    <div class="col-md-2">
                        <a href="{{path('annonce_crud', { id: annonce.id, action: 'delete' })}} "
                            class="ml-auto mr-3 text-danger">Supprimer</a>
                    </div>
                </div>
                <div class="row">
                    <a href="{{path("annonce", {id: annonce.id})}}">
                        <h3 class="ml-3">{{annonce.titre}}</h3>
                    </a>
                </div>
                <p class="  ml-3">{{annonce.description}}</p>
                <hr>
                {% if not annonce.UserPostulant.isEmpty %}
                    {% for user in annonce.UserPostulant %}
                        <h4>Utilisateur intéressé par cette annonce :</h4>
                        <div>
                            <ul>
                                <div class="row">
                                    <li>{{user.name}} {{user.lastname}}</li>
                                    <a class="ml-5 pt-1 badge badge-pill badge-primary" href="{{path('mon_compte', {id: user.id})}} ">Voir son profil</a>
                                </div>
                            </ul>
                        </div>
                    {% endfor %}
                {% else %}
                  <h4> Aucun artiste n'a postulé à cette annonce pour le moment</h4>
                {% endif %}
            </article>
        {% endfor %}

        <h2>Les avis:</h2>

        {# liste avis #}
        <div class="mt-3 ">
            {% for avi in avis %}
                <div class="border rounded p-3 mb-3">
                    <p class="h6">Commentaire publiée par {{ avi.email }}</p>
                    <div class="text-justify">{{ avi.contenu|nl2br }}</div>
                    <div class="text-right mt-1">
                        <a href="#" class="btn btn-outline-danger">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {# soumission avis #}
        <div class="mt-4">
            <form method="post">
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="contenu">avis</label>
                    <textarea class="form-control" id="contenu" name="contenu" rows="10"></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" name="rgpd" aria-label="Checkbox for following text input">
                        </div>
                    </div>
                    <label for="rgpd">J'accepte que mes informations soient stockées dans la base de données pour la gestion des commentaires. J'ai bien noté qu'en aucun cas ces données ne seront cédées à des tiers.</label>
                </div>
    
                <div class="text-right mt-4">
                    <button type="submit" class="btn btn-primary">Envoyer l'avis</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}