<footer class="container border-top mt-5">
    <div class="row">
        <!-- Liste des articles parut récemment-->
        <div class="col-md-8">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="{{ path ('aPropos' )}}">à Propos</a>
                <a class="list-group-item list-group-item-action" href="{{ path ('recrutement' )}}">Recrutement</a>
                <a class="list-group-item list-group-item-action" href="{{ path ('nous_contacter' )}}">Nous Contacter</a>
                <a class="list-group-item list-group-item-action" href="{{ path ('mentions_legales')}}">Mentions-légales</a>
            </div>
        </div>
        <div class="col-md-2">

                    <p>Catégories <i class="fas fa-archive"></i></p>

                    <div class="list-group text-white">
                        {% for tag in tags %}
                            <a class="badge badge-primary mb-1">{{ tag.nom }}</a>
                        {% endfor %}
                    </div>
        </div>
        <div class="col-md-2">
                    <p>Réseaux sociaux</p>

                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="https://www.facebook.com"><i class="fab fa-facebook"></i> Facebook</a>
                        <a class="list-group-item list-group-item-action" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i> Linkedin</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>