{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 class="text-center py-5">Hello {{app.user.name}}</h1>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-signalement-tab" data-toggle="tab" href="#nav-signalement" role="tab" aria-controls="nav-home" aria-selected="true">Signalement</a>
          <a class="nav-item nav-link" id="nav-statistique-tab" data-toggle="tab" href="#nav-statistique" role="tab" aria-controls="nav-profile" aria-selected="false">Statistique</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-signalement"role="tabpanel" aria-labelledby="nav-signalement-tab">
            <h2 class="py-3">Les signalements:</h2>
    
            <!-- affichage des annonces -->
            <h3 class="text-center my-5">Les annonces</h3>
            {% for signalements in signalements_annonces %}
                    <div class="border bg-warning rounded p-2 my-2">
                        <div class="p-2">
                            <h4 class="border-bottom">{{signalements[0].annonce.titre}}</h4>
                            <h5>Motif:</h5>
                            {% for signalement in signalements %}
                                <p>{{signalement.message}}</p>
                            {% endfor %}
                            <div class="row px-2">
                                <a href="{{path('annonce', {id: signalements[0].annonce.id})}}" class="btn btn-info col-sm-4 col-md-2">Voir l'annonce --></a>
                                <a href="{{path('admin', {id: signalements[0].annonce.id, action: "ok", cible: "annonce"})}}" class="btn btn-success col-sm-4 col-md-2">C'est ok</a>
                                <a href="{{path('admin', {id: signalements[0].annonce.id, action: "delete", cible: "annonce"})}}" class="btn btn-danger col-sm-4 col-md-2">Supprimer</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}

            <!-- affichage des utilisateur -->
            <h3 class="text-center my-5">Les utilisateurs</h3>
            {% for signalements in signalements_user %}
            
                    <div class="border bg-warning rounded p-2 my-2">
                        <div class="p-2">
                            <h4 class="border-bottom">{{signalements[0].user.name}} {{signalements[0].user.lastname}}</h4>
                            <h5>Motif:</h5>
                            {% for signalement in signalements %}
                                <p>{{signalement.message}}</p>
                            {% endfor %}
                            <div class="row px-2">
                                <a href="{{path('mon_compte', {id: signalements[0].user.id})}}" class="btn btn-info col-sm-4 col-md-2">Voir le profil --></a>
                                <a href="{{path('admin', {id: signalements[0].user.id, action: "ok", cible: "user"})}}" class="btn btn-success col-sm-4 col-md-2">C'est ok</a>
                                <a href="{{path('admin', {id: signalements[0].user.id, action: "delete", cible: "user"})}}" class="btn btn-danger col-sm-4 col-md-2">Bannir</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="nav-statistique"role="tabpanel" aria-labelledby="nav-statistique-tab">
            <h2 class="py-3">Le coin des stats:</h2>
            <h3>Argent générer ce mois:</h3>
            <h3>Nouveau profil:</h3>
            <h3>Nouvelle annonce:</h3>    
        </div>
    </div>
</div>
{% endblock %}
