{% extends 'base.html.twig' %}
{% block title %}Nous contacter
{% endblock %}
  
{% block body %}
    <h1 class="main-panel text-center text-warning" @media (max-width: 767px)>Besoin d'assistance ?</h1>
<section>
			<div class="side-panel-inner">
				<div class="tip">
					<h4 class="tip-main-title"> Avant d'envoyer votre sujet :</h4>
					<div class="tip-row">
						<div class="tip-title">Soyez descriptif !</div>
						<div class="tip-content">Ajoutez autant de détails que possible.</div>
					</div>
				<div class="phone" style="display:none;">
					<h4>public.submit.phone.title</h4>
					<div class="phone-row">
						Soyez descriptif !
					</div>
				</div>
			</div>
		</section>
    {{ form_start(form) }}

        <div class="row mt-5">
            <div class="col-md-6">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prenom) }}
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-6">
                {{ form_row(form.sujet) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.message) }}
            </div>
        </div>
    <div class="row mt-4 text-right">
        <div class="col-md-12">
            {{ form_row(form.Envoyer_le_message,{'attr': { 'class' : 'btn btn-primary'}} ) }}
        </div>
    </div>
    {{ form_end(form) }}

	
</span>



{% endblock %}