{% extends 'base.html.twig' %}

{% block title %}Les annonces
{% endblock %}

{% block body %}
	<div class="container-fluid" style="background-image: url(/images/denimjacket.jpg); width: 100%; height: 300px;">
		<div class="row mt-5 text-center  ">
			<div class="col-12 mt-5 pt-5">
				<button type="button" class="btn btn-danger mt-5 ">Déposez une annonce gratuitement</button>
			</div>	
		</div>	
	</div>
	<div class="container">
		<h1 class="my-5 text-center">Liste des annonces</h1>
		<div class="row">
			<div class="col-12">
				<form class="form-inline my-2 my-lg-0">
					<div class="form-group">
						<input class="form-control mr-sm-1" name="titre" type="text" placeholder="Rechercher une annonce">
					</div>

				<p class="border-left border-primary p-1 m-2">trier par :</p>

					<div class="form-group">
						<select name="ordre" class="form-control mr-sm-2" id="exampleSelect1">
							<option value="">-- Prix --</option>
							<option value="ASC">Du plus petit au plus grand</option>
							<option value="DESC">Du plus grand au plus petit</option>
						</select>
					</div>
					<div class="form-group">
						<select name="tag" class="form-control mr-sm-2" id="exampleSelect1">
							<option value="">-- Tag --</option>
							{% for tag in tags %}
							<option value="{{ tag.nom }}">{{ tag.nom }}</option>
							{% endfor %}
						</select>
						<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rechercher</button>

					</div>
				</form>
			</div>
		</div>
			{% for annonce in annonces %}
				<div class="container border my-5">
				   <div class="row">
						<div class="col-md-8">
							<a href="{{ path('annonce', { id: annonce.id }) }}">
							<h2>{{annonce.titre}}</h2>
							</a>
						</div>
						<div class="col-4">
							<!-- Affichage des tags -->
							{% for tags in annonce.Tag %}
								{% if tags %}
										<a href="{{ path('annonces') }}?titre=&ordre=&tag={{ tags.nom }}" class="badge badge-pill badge-info">{{ tags.nom }}</a>
								{% endif %}
							{% endfor %}
						</div> <!-- fin col tags -->
					</div> <!-- fin row bandeau titre annonce-->  
				   	<p class="font-italic">{{annonce.DateCreation | format_datetime(pattern="'le' dd MMMM 'à' H'h'mm", locale='en')}} - {{annonce.prix}}€ -
						{% if not annonce.vues %}
						Je n'ai aucune vue
					   	{% else %}
						vues {{ annonce.vues }}
					   	{% endif %}
					   	 fois
				   	</p>
					<p>{{annonce.description | raw}}</p>
					<div class="border-top">
						<!-- On affiche la liste des postulants -->
						{% if not annonce.UserPostulant.isEmpty %}
						<u><p>Les artistes intéressés :</p></u>
						<ul class="list-group list-group-horizontal">
							{% for user in annonce.UserPostulant|sort((a,b) => b.commission <=> a.commission) %}
								<li id="listeAvatar" class="">
									<a href="{{ path('mon_compte', {id: user.id}) }}"><img src="{{ asset('images/'~user.avatar)}}" alt="avatar" class="img-fluid rounded-circle mr-2 mb-3" style="width: 34px; height:34px;" data-toggle="tooltip"  title="{{user.name}} {{user.lastname}}"></a>
								</li>
							{% endfor %}
						</ul>	
						{% else %}
							<p> Aucun artiste n'a postulé à cette annonce pour le moment</p>
						{% endif %}
						
					</div>
				</div>
			{% endfor %}
		<div class="row mt-2">
			<div class="d-flex mx-auto">	
				{{ knp_pagination_render(annonces) }}
			</div>
		</div>
	</div>
{% endblock %}
