{% extends 'base.html.twig' %}

{% block title %}Liste des annonces
{% endblock %}


{% block body %}


	<h1 class="text-center my-5">{{annonce.titre}}</h1> 
        <div class="input-group mb-3">
			<div class="input-group-prepend">
			
			</div>
		</div>
	<div class="row">

		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h2 class="card-title">Information sur celui qui a posté l'annonce</h2>
                    
					<p>
						<a href="#">Voir son profil</a>
					</p>
					<p class="card-text">Nom :
						{{annonce.user.name}}</p>
					<p class="card-text">Prénom
						{{annonce.user.lastname}}</p>
					<p class="card-text">Inscrit depuis le :
						{{annonce.user.createdAt | date("Y-m-d H:i:s") }}</p>
					{% if annonce.dateLimite %}
						<p class="card-text">Date limite de la recherche :
							{{annonce.dateLimite | date("Y-m-d H:i:s") }}</p>
					{% else %}
						<p class="card-text">Date limite de la recherche : L'annonceur n'a pas précisé de date limite</p>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- fin de la col card -->

		<div class="col-md-8">
			<div class="row d-flex flex-column">
				<div class="col">
					<div class="">{{annonce.description}}</div>
				</div>
				<!-- fin de la col description -->

				{% if app.user and annonce.user.id != app.user.id %}

					{% if annonce in app.user.annoncesPostule %}
						<div class="col">
							<a href="{{path('annonce', {id: annonce.id, action: 'remove'})}}" class="btn btn-info my-5">Ca ne m'intéresse plus</a>
						</div>
					{% else %}
						<div class="col">
							<a href="{{path('annonce', {id: annonce.id, action: 'add'})}}" class="btn btn-success my-5">Ca m'intéresse</a>
						</div>
					{% endif %}

				{% endif %}


			</div>
			
		</div>
		<!-- fin de la col description -->

	</div>


	<!-- fin de la row -->

{% endblock %}
