{% extends 'base.html.twig' %}

{% block title %}Hello ListeController!{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle"></i> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}

    <!-- TITRE -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h1>Listes des profiles</h1>
            <p>Te voici sur la page de tous les profiles de cette communauté</p>
        </div>
    </div>

    <!-- LISTES DES PROFILES -->

    <div class="px-3">
    {% for profile in profiles %}
        <div class="row mt-3 py-4 border-bottom" id="Profiles">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-4">
                        <a href="#"><img src="{{ asset('images/imageDefault.jpg') }}" class="img-thumbnail"></a>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                                <h2>{{ profile.name }} {{ profile.lastname }}</h2>
                                <p>{{ profile.description|raw|slice(0,60) }}...</p>
                                <div class="row">
                                    <div class="col-4">
                                        <p>{{ profile.email }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <a class="btn btn-outline-primary" href="{{ path('profil', {id: profile.id}) }}">Voir mon profil</a>
                                        <a class="btn btn-outline-primary" href="#">Me contacter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}
